<%= form_for(@idea, class: 'col s12') do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s9">
      <i class="material-icons prefix">mode_edit</i>
      <%= f.text_area :post, class: 'materialize-textarea' %>
      <%= f.label :post, 'Type your idea' %><br>
    </div>
    <div class="input-field col s3">
      <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
<script>
$(function() {
    $('textarea').keypress(function(e) {
      if (e.keyCode == 13 && e.shiftKey) {
        $('form').submit();
        return false;
      }
    });
});
</script>
