<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @idea.post %>
</p>

<p>
  <strong>Up:</strong>
  <%= @idea.up %>
</p>

<p>
  <strong>Down:</strong>
  <%= @idea.down %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
