<h4><%= @idea.user.email.split('@')[0] %>'s IDEA</h4>
<p>
  <%= @idea.post %>
</p>
  

<span class="badge"><%= @idea.up %></span>
<span class="badge"><%= @idea.down %></span>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
